footer {
    width: 100%;
}

.iconosredes {
    text-align: center;
}

.ajusteicono {
    display: inline-flex;
    margin: 30px 15px;
}

.textofooter {
    padding-top: 8px;
    width: 100%;
    font-family: cursive;
    text-align: center;
    color:black;
    font-size: 15px;
    background-color: pink;
    height: 80px;

}

.estudiante {
    text-align: center;
    padding-top: 10px;
    width: 100%;
    font-family: cursive;
    color: black;
    font-size: 15px;
    background-color: pink;
    height: 120px;
}